# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-electron-win-*/
dist-electron-mac-*/
*.app
*.dmg
*.exe

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
